<h1 class="movies--header">Våra filmer</h1>
<div class="movies">
    <% if (typeof movies != undefined) { %>
        <% movies.forEach(movie => { %>
            <div class="movies__card">
                <a href="/movie/<%= movie.id %>">
                    <img class="movies__card__image" src="<%= movie.attributes.image.url %>">
                    <p class="movies__card__title"><%= movie.attributes.title %></p>
                </a>
            </div>
        <% }) %>
    <% } %>
</div>